# Ignore compiled files and build directory
/build/
/*.o
/*.obj
/*.so
/*.dll
/*.exe
/*.out
/*.a
/*.dylib
/*.gch
/*.pch
/*.app
/*.ecc

# Ignore temporary and backup files
*~
*.swp

# Ignore encrypted/decrypted files
*.txt
*.ecc

# Ignore OS-specific files
.DS_Store
Thumbs.db
